body {
    background-color: #446cc9;
    color: navy;
    font-family: 'sans serif';
    font-size: 16px;
}
  
#main-doc {
	width: 500px;
	height: 800px;
	margin: auto;
}
  
h1 {
		font-family: 'Brush Script MT', cursive;
		font-size: 2.5rem;
		color: #c9a144;
		text-align: center;
		margin: 1rem;
}
h3 {
	font-size: 1.5rem;
	text-align: center;
	margin: 0;
}

.binder {
		background-image: url('images/binder1.png');
		background-repeat: no-repeat;
		border: 1px solid transparent;
		width: 100%;
		height: 90%;
}
  
#start {
		display: block;
}
  #infoForm {
      display: grid;
      width: inherit;
      margin: 40px 50px 0 50px;
  }
  .form {
      margin-bottom: 20px;
  }
  
  textarea {
      width: 70%;
      height: 150px;
  }
  
  #submit {
      background-color: #c9a144;
      width: 100px;
      border-radius: 10px;
      color: black;
      float: right;
  }
  
	#sheet1 {
		display: none;
	}
  #page1 {
      width: 80%;
      margin: 40px 50px 0 50px;
			display: grid;
			grid-gap: 10px;
      grid-template-columns: 1fr 1fr; 
  }
  #leftSide1 {
      display: grid;
      grid-template-columns: 2fr 1fr;   
  }
    #charInfo {
        grid-column: span 2;
        height: 200px;
    }
    #displayRolls {
			background-color: hsl(203, 79%, 59%, .8);
			box-shadow: 7px 7px 7px #1f1907;
			box-sizing: border-box;
			padding: 8px;
			height: 250px;
			overflow: hidden;
			grid-column: span 2;
    }
    #clear-rolls {
        width: 60px;
        height: 70px;
    }
  
 #rightSide1 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    margin-top: 40px;
 }
 .stat {
	 height: 100px;
	 background-color: #fbd04d;
	 box-shadow: 5px 5px 7px #1f1907;
	 box-sizing: border-box;
	 padding: 7px;
	 text-align: center;
	 font-size: 1.2rem;
 }
 .modifiers {
	 width: 60%;
	 font-weight: bold;
	 font-size: 1.1rem;
	 background-color: #fbd04d;
	 border: 2px dotted black;
 }
 	.adj {
		background-color: #fbd04d;
	  border: 1px dotted black;
	  margin: 5px;
 	}
  #conditions {
    background-color: #fbd04d;  
    grid-column: span 2;
		box-shadow: 7px 10px 7px #1f1907;
		box-sizing: border-box;
		padding: 8px;
		font-size: 1.1rem;
  }
